/*
 * Globals
 */


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

:root {
  --black: #213555;
  --blue: #3E5879;
  --beige: #D8C4B6;
  --white: #F5EFE7;

  --platinum: #EAEAEA;
  --periwinkle: #CBC5EA;
  --pompandpower: #73628A;
  --delftblue: #313D5A;
  --gunmetal: #183642;
}



/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.custom-dropdown {
  top: 50px;
}

.custom-searchbar {
  flex-wrap: nowrap;
}

.years {
  margin-top: 24px;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.years input{
  display: inline-flex;
  flex-direction: column;
  position: relative;

  padding: 10px 16px; 
  background-color: var(--blue); 
  border: none; 
  border-radius: 8px; 
  cursor: pointer; 
  font-size: 16px; 
  width: 90px;
  
}

.years label {
  position: absolute;
  top: -20px;
  color: black;
}

.custom-button {
  background-color: var(--blue);
  color: var(--white);
  padding: 10px 16px; 
  border: none; 
  border-radius: 8px; 
  cursor: pointer; 
  font-size: 16px; 
  width: 90px;
}

.custom-button:hover {
  background-color: var(--pompandpower);
}

.btn:active {
  background-color: var(--pompandpower) !important;
  color: black !important;
}

a:focus, a:hover {
  text-decoration: none;
}
